.post {
    justify-content: center;
}

.author {
    justify-content: center;
}

.avatar {
    justify-content: center;
}

.authorInfo {
    justify-content: center;
}

.content {
    justify-content: center;
}